<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="html-head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${titlePage}"/>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- googlefonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap" rel="stylesheet">
    <!-- boostrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <!-- Fontawsome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <!-- Jquery -->
    <script
            src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
            crossorigin="anonymous"></script>
    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- funcion eliminar paciente -->
    <script th:src="@{/js/funciones.js}"></script>
</head>
<body>
    <!--main section-------------------->
    <section id="menu-nav">
        <div th:fragment="html-menu">
            <!--navigation ------------------>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <!-- logo -->
                <i class="bi bi-hospital"></i>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <!-- menu -------------------->
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/medicas/}"> Médicos<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/pacientes/}"> Pacientes</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/ingresos/}"> Ingresos</a>
                        </li>
                    </ul>
                    <a th:href="@{/logout}" class="btn btn-outline-danger btn-sm"><i class="bi bi-box-arrow-in-right"> Cerrar sesión</i></a>
                </div>
            </nav>
        </div>
    </section>
    <div th:fragment="html-title-registrar">
        <h1 class="bi bi-person-lines-fill text-secondary border border-success border-top-0 border-right-0 border-left-0 "
            th:text="${titulo}"></h1>
    </div>
    <div th:fragment="html-title-editar">
        <h1 class="bi bi-person-lines-fill text-secondary border border-info border-top-0 border-right-0 border-left-0 "
            th:text="${titulo}"></h1>
    </div>
    <div th:fragment="html-title-ingreso-registrar">
        <h1 class="bi bi-file-earmark-person text-secondary border border-success border-top-0 border-right-0 border-left-0"
            th:text="${titulo}"></h1>
    </div>
    <div th:fragment="html-title-ingreso-editar">
        <h1 class="bi bi-file-earmark-person text-secondary border border-info border-top-0 border-right-0 border-left-0"
            th:text="${titulo}"></h1>
    </div>
    <!-- Msg alertas -->
    <section>
        <div th:fragment="html-msg-alerta">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${succes != null}">
                <label th:text="${succes}"></label>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${danger != null}">
                <label th:text="${danger}"></label>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${warning != null}">
                <label th:text="${warning}"></label>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${info != null}">
                <label th:text="${info}"></label>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </section>

</body>
</html>