<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments::html-head}"/>
<body>
    <section>
        <div class="container" style="padding-top: 10%">
            <div class="jumbotron">
                <h1 class="bi bi-hospital display-4"> Centro salud - Palmeritas</h1>
                <p class="lead">Proyecto de fin de curso, 1er año FP DAM.</p>
                <hr class="my-4">
                <p></p>
                <a class="btn btn-outline-secondary btn-lg" th:href="@{/login}" role="button">Iniciar sesion</a>
            </div>
        </div>
    </section>
</body>
</html>